<%- include('partials/header', {
      title: 'sensors',
      tailwind: true,
      bodyClass: 'bg-black text-gray-300 font-sans'
    }) %>

<div class="container">
  <h1>Chat</h1>

</div>
<%- include('partials/footer') %>

