<%- include('partials/header', {
      title: 'auth',
      tailwind: true,
      bodyClass: 'bg-black text-gray-300 font-sans'
    }) %>

<h2>Login</h2>
<br>
    <form onsubmit="return login(event)">
	<input id="username" placeholder="Enter username" required>
	<br></br>
        <input type="password" id="password" placeholder="Enter password" required>
	<br></br>
        <button style="background-color: #404040;" type="submit" id="submit">Submit</button>
    </form>
    <p id="message"></p>
    <br><br>
    <p>Not registered? Register here:</p>
    <a href="http://57.129.61.111:3000/register">
	<button type="button" id="register">Register</button>
    </a>

    <script>
      async function login(event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const response = await fetch("http://57.129.61.111:3000/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password })
        });
        const result = await response.json();
        document.getElementById("message").textContent = result.message;
      }
    </script>
<%- include('partials/footer') %>

