<%- include('partials/header', {
      title: 'projects',
      tailwind: true,
      bodyClass: 'bg-black text-gray-300 font-sans'
    }) %>

<main class="max-w-2xl mx-auto p-8 space-y-8">
  <h1 class="text-3xl text-gray-400">ESP32 Data</h2>
  <p>2-way communication with an ESP32 via GET and POST requests</p>
  <pre id="data">Loading...</pre>
  <input type="text" id="startTime" placeholder="Enter startTime hh:mm">
  <br>
  <input type="text" id="endTime" placeholder="Enter endTime hh:mm">
  <br>
  <button id="confirmBtn" class="btn">Confirm</button>
  <p id="message"></p>

</main>
<script>
  const username = "<%= username %>";

  async function fetchData() {
    try {
      const response = await fetch("/data");
      const data = await response.json();
      document.getElementById("data").innerText = JSON.stringify(data, null, 2);
    } catch (error) {
      console.error("Error fetching data:", error);
    }
  }
  setInterval(fetchData, 3000);
  window.onload = fetchData;
 
  // Send UI data to the server for storage
  document.getElementById("confirmBtn").addEventListener("click", () => {
    event.preventDefault();
    const startTime = document.getElementById("startTime").value;
    const endTime = document.getElementById("endTime").value;

    const timePattern = /^([01]\d|2[0-3]):([0-5]\d)$/;

    if (!timePattern.test(startTime) || !timePattern.test(endTime)) {
      alert("Please enter valid times in HH:MM format (e.g., 09:30 or 23:45)");
      return;
    }
    if (username != "admin") {
      console.error("Not authorized");
      document.getElementById("message").textContent = "Not authorized";
    }

    console.log("Sending data:", startTime, endTime);

    fetch(`/update-input?startTime=${encodeURIComponent(startTime)}&endTime=${encodeURIComponent(endTime)}`)
      .then(response => response.json())
      .then(data => console.log("Server response:", data)) // Check server response
      .catch(error => console.error("Error:", error));
  });
</script>

<%- include('partials/footer') %>
